
.chat-view {
	display: flex;
	height: calc(100vh - var(--header-height));
	width: 100%;
	flex-direction: column;
}
.chat-body {
	flex: 1 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	height: auto;
	width: 100%;
}
.chat-body-view {
	position: absolute;
	overflow: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
	bottom: 0;
	transition: height .2s ease-in-out;
	outline: none;
}
.chat-header {
	padding: 0 0.8rem;
	column-gap: 0.8rem;
}
.chat-header * {
	font-size: 1.2rem;
}

.chat-header-group-avt :nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
}
.chat-header-group-avt :nth-child(2) {
	position: absolute;
	top: 0;
	left: 20px;
}
.chat-header-group-avt :nth-child(3) {
	position: absolute;
	top: 20px;
	left: 0;
}
.chat-header-group-avt :last-child(4) {
	position: absolute;
	top: 20px;
	left: 20px;
}

.chat-footer {
	min-height: 8vh;
	height: auto;
	position: relative;
	border: 1px solid var(--border-color);
	border-left: none;
	width: 100%;
	flex-direction: column;
	flex-wrap: nowrap;
	z-index: 1;
	outline: none;
}
.chat-footer-bar {
	height: 4vh;
	padding-left: 8px;
}
.chat-footer > * {
	background-color: white;
}

body:is(.dark-theme) .chat-footer > * {
	background-color: rgb(61, 61, 61);
}
.chat-footer-bar > * {
	padding: 0 8px;
	cursor: pointer;
	font-size: 24px;
	color: #757575;
}

.chat-footer-input {
	min-height: 4vh !important;
	/* border-top: 1px solid var(--border); */
	border-radius: unset;
	border: 1px solid var(--border-color);
}
.chat-footer-input-action {
	position: absolute;
	bottom: 5px;
	right: 2vh;
	font-size: large;
}

.chat-item-wrapper {
	margin-bottom: 1rem;
	display: flex;
	align-content: center;
}
.chat-item-wrapper.me .chat-item-content-wrapper {
	direction: rtl;
}
.chat-item-content {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	min-height: 1.8rem;
	padding: 0.4rem 0.8rem;
	margin-bottom: 0.4rem;
	color: var(--text-primary);
	border: 1px solid #d7d7d7;
	border-radius: 10px;
	max-width: 85%;
	width: fit-content;
	position: relative;
}
.chat-item-content.forcus,
.chat-item-content.selected {
	border: 1px solid blue !important;
}
.chat-item-content:has(.list-reaction) {
	margin-bottom: 0.6rem;
}
.chat-item-content.recalled * {
	color: var(--text-secondary);
}
.chat-item-content:not(.recalled):is(.short) {
	background-color: unset;
	border: unset;
	padding-left: 0;
	padding-right: 0;
}
.chat-item-content:not(.recalled):is(.short) .ant-image-img{
	border-radius: 8px;
}
.chat-item-content:not(.recalled):is(.short) .chat-item-username {
	background-color: white;
	padding: 0 12px;
	border-radius: 15px;
	margin-bottom: 0.4rem;
}
.chat-item-wrapper:not(.me) .chat-item-content:not(.recalled):is(.short) .reaction-action {
	right: 0.8rem;
    bottom: -8px;
}
.chat-item-wrapper:not(.me) .chat-item-content:not(.recalled):is(.short) .list-reaction {
    bottom: -8px;
	right: 2.1rem;
}

.chat-item-wrapper:is(.me) .chat-item-content:not(.recalled):is(.short) .reaction-action {
	left: 0.8rem;
    bottom: -8px;
}
.chat-item-wrapper:is(.me) .chat-item-content:not(.recalled):is(.short) .list-reaction {
	left: 2.1rem;
    bottom: -8px;
}
.chat-item-content:not(.recalled):is(.short) .send-time {
	position: absolute;
    bottom: 0;
    background-color: #ffffff;
    padding: 0px 8px;
    border-radius: 15px;
	border: 1px solid var(--border-color);
}

body:is(.dark-theme) .chat-item-content {
	background-color: #414141;
	border: 1px solid #414141;
}
.chat-body .date-item {
	background-color: #c9c9c9;
	border-radius: 15px;
	padding: 2px 12px;
	margin-top: 4px;
	color: var(--color-white);
}
body:is(.dark-theme) .chat-body .date-item {
	background-color: #4d4d4d;
}
/* .chat-body .date-item::before, 
.chat-body .date-item::after {
  border-block-start-color: #d9d9d9;
}
.chat-body .date-item .ant-divider-inner-text{
    background-color: #e7e7e7;
    border-radius: 15px;
} */

.small-text {
	font-size: smaller;
}
.chat-item-username {
	color: var(--primary-color);
	width: fit-content;
}
body:is(.dark-theme) .chat-item-username {
	color: pink;
}
.chat-item-username.alone {
	padding: 0px 8px;
    background: white;
    border-radius: 20px;
}
.chat-item-action {
	font-size: medium;
	display: flex;
	flex-wrap: nowrap;
	direction: ltr;
	height: 100%;
    align-items: center;
	
}
.chat-item-wrapper:not(.me) .chat-item-action {
	margin-left: 2rem;

}
	.chat-item-wrapper:is(.me) .chat-item-action {
	margin-right: 2rem;
}

.reaction-action {
	position: absolute;
	right: 0rem;
	bottom: -0.6rem;
	direction: rtl;
    font-size: 14px;
	border: 1px solid #d7d7d7;
	color: #757575;
	padding: 2px;
	border-radius: 15px;
	background-color: white;
}
.me .reaction-action {
	right: unset;
	left: 0rem;
	direction: ltr;
}
.reaction-action:hover {
	color: black;
}
.list-reaction {
    display: flex;
	border-radius: 15px;
	background-color: white;
	border: 1px solid #d7d7d7;
    position: absolute;
	right: 1.2rem;
	bottom: -0.6rem;
    padding: 1px;
}
.me .list-reaction {
	right: unset;
	left: 1.2rem;
}
.list-reaction img {
	width: .8rem;
	padding: 1px;
}
.reaction-icon{
	font-size: x-small;
}

.chat-body-pin {
	width: 100%;
	min-height: fit-content;
	background-color: var(--background-color);
	z-index: 1;
	border-bottom: 1px solid #d7d7d7;
	padding: 0 1rem 0 0;
	position: relative;
	transition: height .2s ease-in-out;
	overflow: auto;
}
.chat-body-pin.expanded {
	padding-bottom: 1rem;
}
.chat-body-pin-item-wrapper {
	width: 100%;
	height: 100%;
	flex-direction: column;
}
.chat-body-pin.expanded .chat-body-pin-item-wrapper {
	overflow-x: auto;
	max-height: 16vh;
}
.chat-body-pin-icon {
	height: 100%;
	font-size: 1.5rem;
	width: 3rem;
	display: flex;
	justify-content: center;
}

.chat-body-pin-preview { 
	width: calc(100% - 8rem);
}
.chat-body-pin-more {
	width: 5rem;
}
.chat-body-pin-close {
	position: absolute;
    bottom: 0px;
	font-size: 0.6rem;
	width: 100%;
	display: flex;
	justify-content: center;
}
.chat-body-pin-close-btn {
	padding: .2rem 1.4rem .1rem 1.4rem;
    background: white;
	color: var(--text-secondary);
	border: 1px solid var(--border-color);
	border-bottom: unset;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.chat-body-pin-close-btn:hover {
	color: black;
}
.chat-body-pin-dropdown {
	display: none;
}
.chat-body-pin-item:hover .chat-body-pin-dropdown {
	display: block;
}
.chat-body-pin-item {
	min-height: fit-content;
}
.reaction-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: space-around;
}
.reaction-selector img {
	width: 1.5rem;
	margin: 0 4px;
	cursor: pointer;
}

.reply-content {
	border-left: 2px solid var(--primary-color);
	direction: ltr;
	padding-left: .4rem;
	display: flex;
    column-gap: 0.8rem;
    align-items: center;
	cursor: pointer;
}
.chat-footer .preview-upload,
.chat-footer-reply-wrapper {
	position: relative;
	padding: 0.4rem 1rem;
	border-bottom: 1px solid var(--border-color);
}
.chat-footer-reply-wrapper .reply-content {
	padding-left: 1rem;
}

.chat-footer .preview-upload > div{
	max-height: 20vh;
	overflow: auto;
}
.chat-footer-reply-wrapper .btn-clear,
.chat-footer .preview-upload .btn-clear {
	position: absolute;
	right: 40px;
	font-size: 14px;
	top: calc(50% - 7px);
}
.react-input-emoji--mention--list {
	max-height: 20vh;
	overflow-y: auto;
}

.list-reaction{
	direction: rtl;
}
.me .list-reaction{
	direction: ltr;
}

.list-reaction .ant-avatar-string{
	transform: scale(0.5) !important;
	color: black;
}

/*override antd group gap*/
.list-reaction .ant-avatar-group >*:not(:first-child) {
    margin-inline-start: -4px;
}
.drag-background {
	background: #bce6ff80;
    position: absolute;
    z-index: 10;
    display: flex;
    border: 2px var(--primary-color) dashed;
    font-size: 1.4rem;
    color: black;
	height: calc(100% - 4px); /*100% - border*/
	width: calc(100% - 4px);
}

.chat-content {
	justify-content: left;
}
.chat-item-content:not(.recalled):is(.short) .chat-content {
	position: relative;
}
.chat-item-pin-icon {
	position: absolute;
	font-size: 16px;
	top: -8px;
	right: -8px;
	color: var(--primary-color);
}

.me .chat-item-pin-icon {
	right: unset;
	left: -8px;
	transform: rotateY(180deg);
}

.chat-item-selectbox {
	align-self: flex-start;
}
.chat-item-selectbox .ant-checkbox-inner {
	border-radius: 15px;
}

.chat-item-wrapper.chat-item-selectbox {
	margin-left: 8px;
}

.btn-scroll-bottom {
	position: absolute;
	right: 2rem;
	bottom: 2rem;
	transition: opacity .5s ease-in-out;
}