.ant-upload.ant-upload-select {
	width: 4rem !important;
	height: 4rem !important;
}
.select-user {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.user-row > .ant-space-item {
	display: flex;
}

.list-selected-wapper {
	height: 85%;
	width: 36%;
	border: 1px solid var(--text-secondary);
	/* position: absolute; */
	top: 0;
	right: 0;
	border-radius: 4px;
	/* overflow-x: auto; */
	padding: 1rem 0.4rem;
}
.list-selected-wapper > :first-child {
	height: 25px;
}
.list-selected {
	padding: 5px 0.2rem;
	height: calc(100% - 20px);
	overflow-y: auto;
}

.user-row {
	cursor: pointer;
	user-select: none;
	/* background-color: var(--background-color); */
	padding: 0.2rem 0.6rem 0.2rem 0.4rem;
	border-radius: 30px;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	column-gap: 0.4rem;
}
.list-selected .user-row {
	background-color: var(--background-color);
}
