.poll-container {
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 1.2rem;
}
.progress-container {
	background: rgba(0, 0, 0, 0.04);
	border-radius: 4px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    cursor: pointer;
}
.progress-container:hover .progress {
	background: rgba(0, 110, 212, 0.4);
}
.progress {
    position: absolute;
	border-radius: inherit;
    inset: 0;
	background: rgba(88, 159, 224, 0.4);
    transition: 0.5s;
}