.drawer-members-buttom {
	height: 4.8rem;
}

.drawer-members-list {
	height: calc(100% - 4.8rem);
	overflow: auto;
}
.drawer-members-list .member {
	padding: 4px 8px;
}

.drawer-group {
	background-color: var(--background-color);
	height: fit-content;
	padding: 0.6rem 0.4rem;
}

.action-bar-item {
	cursor: pointer;
}
.action-bar-item:hover * {
	color: var(--primary-color);
}
.action-bar-item svg {
	font-size: large;
}
.action-bar-item span {
	text-align: center;
	font-size: small;
}

.body .ant-tabs-nav {
	margin: 0;
	background-color: var(--background-color);
	padding-left: 12px;
}

.body .ant-tabs-content,
.body .ant-tabs-tabpane {
	height: 100%;
}

.body .storage-item {
	position: relative;
}

.body .storage-item-checkbox {
	position: absolute;
	top: 0;
	left: 4px;
	z-index: 1;
}

.body .storage-item-action {
	position: absolute;
	top: 4px;
	right: 4px;
	visibility: hidden;
}

.body .storage-item:hover .storage-item-action {
	visibility: visible;
}
.body .storage-item .storage-item-icon {
	background-color: white;
}
.drawer .header-button-left {
	position: absolute;
	left: 0;
}
.drawer .header-button-right {
	position: absolute;
	right: 0;
	padding: 2px 12px;
	font-size: small;
	border-radius: 15px;
	cursor: pointer;
}
.drawer .header-button-right:hover {
	background-color: rgb(198, 196, 196);
}

.storage-tabs {
	height: 100%;
}
.body:has(.selecting-bar) .storage-tabs {
	height: calc(100% - 3rem);
}

.selecting-bar {
	background-color: white;
	border-top: 1px solid var(--border-color);
	height: 3rem;
	padding: 0 12px;
}
.selecting-bar .count {
	background-color: rgb(226, 227, 255);
	padding: 0 4px;
	border-radius: 2px;
}

.group-info-sticky {
	position: sticky;
    top: 0;
    z-index: 1;
}

.div-button {
	cursor: pointer;
	padding: 0.4rem;
	border-radius: 4px;
	font-size: 1rem;
}
.div-button:hover:not(.danger),
.div-button:hover:not(.danger) * {
	color: var(--primary-color);
	background-color: rgb(226, 226, 226);
}
.div-button:is(.danger),
.div-button:is(.danger) * {
	color: red;
}
.div-button:is(.danger):hover,
.div-button:is(.danger):hover * {
	background-color: rgb(255, 238, 238);
}

.drawer .ant-collapse-header {
	font-weight: 600;
	font-size: 16px;
	padding: 4px 12px !important;
}

.drawer .ant-collapse-content-box {
	padding: 4px 12px 0 !important;
}

.drawer .ant-collapse-content-box .collapse-content-item {
	justify-content: flex-start;
	padding: 4px 12px;
}