.side-bar { 
    height: 100%;
    width: var(--side-bar-w);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 1.6rem 0;
}
.side-bar * {
    user-select: none;
    color: var(--color-white)
}

.ant-badge .ant-badge-count-sm {
    font-size: 0.6rem !important;
    background-color: red;
    color: var(--text-primary);
}
.lang-img {
    display: flex;
    height: 1.2rem;
}
.side-bar-icon {
    font-size: 1.8rem;
}
.side-bar-avt,
.side-bar-avt img{
    height: 2.6rem;
    width: 2.6rem;
}
.main,
.main > * {
    height: 100vh;
    flex-wrap: nowrap;
}

.left-menu {
    overflow: hidden;
    height: -webkit-fill-available;
    border-right: 1px solid var(--border-color);
    width: var(--left-menu-w);
    padding: .4rem .4rem 0 .4rem;
    transition: width .5s ease-in-out, padding .5s ease-in-out;
}
.left-menu:is(.closed) {
    --left-menu-w: 0px;
    --chat-w: calc(100vw - var(--side-bar-w) - var(--drawer-w));
    padding: .8rem 0 0 0;
}
.left-menu:is(.closed) .chat-wrapper {
    width: 100vw;
}
.preview-chat-wrapper {
    overflow-y: auto;
}
.preview-chat-item {
    padding: .4rem;
    column-gap: 8px;
    border-radius: 4px;
}
.preview-chat-item-more {
    display: none;
}
.preview-chat-item:hover .preview-chat-item-more {
    display: inline-block;
}
.preview-chat-item-time {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
.preview-chat-item:hover .preview-chat-item-time {
    display: none;
}

.search-bar {
    flex-wrap: nowrap;
    overflow: hidden;
}
.chat-wrapper {
    width: var(--chat-w);
    transition: width .5s ease-in-out
}

.drawer {
    width: var(--drawer-w);
    border-left: 1px solid var(--border-color);
    transition: width .5s ease-in-out
}