.preview-link-wrapper {
    direction: ltr;
    width: 300px;
    flex-wrap: nowrap;
    column-gap: 8px;
	background-color: var(--bg-second);
    cursor: pointer;
    border-radius: 8px !important;
    overflow: hidden;
    flex-direction: column;
}
.preview-link-wrapper:hover .preview-title {
    color: rgb(0, 89, 255)
}

.chat-item-namecard-wrapper {
    display: flex;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 85%;
    position: relative;
    margin-bottom: 8px;
}

.chat-item-namecard {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    direction: ltr;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    min-height: 1.8rem;
    margin-bottom: 0.4rem;
    border-radius: 10px;
    overflow: hidden;
}
.chat-item-namecard-data {
    background-color: rgb(3, 66, 161);
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0.4rem 0.8rem 0.8rem;
    position: relative;
    width: 240px;
}

.chat-item-namecard-data .member * {
    color: white;
}
.chat-item-namecard-btn {
    padding: 6px 0;
    background-color: var(--color-white);
}
.chat-item-namecard-btn-msg,
.chat-item-namecard-btn-call {
    text-align: center;
    flex: 1;
    cursor: pointer;
}
.chat-item-namecard-btn-call {
    border-right: 1px solid var(--primary-color);
}

.chat-item-namecard-copy {
    background-color: var(--bg-gray);
    text-align: center;
    padding: 2px 0;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 4px;
}
.chat-item-namecard-copy:hover,
.chat-item-namecard-btn-msg:hover,
.chat-item-namecard-btn-call:hover {
    color: var(--primary-color) !important;
}